In [1]:
import pandas as pd
Temp=pd.read_csv('Temp.txt', sep=' ')
Temp.head()

   Body.Temp Gender  Heart.Rate
1       96.3   Male          70
2       96.7   Male          71
3       96.9   Male          74
4       97.0   Male          80
5       97.1   Male          73

In [2]:
Temp.shape

(130, 3)

In [3]:
Temp.dtypes

Body.Temp     float64
Gender         object
Heart.Rate      int64
dtype: object

In [4]:
Temp.describe()

        Body.Temp  Heart.Rate
count  130.000000  130.000000
mean    98.249231   73.761538
std      0.733183    7.062077
min     96.300000   57.000000
25%     97.800000   69.000000
50%     98.300000   74.000000
75%     98.700000   79.000000
max    100.800000   89.000000

In [5]:
Body_temp=Temp['Body.Temp']

In [6]:
#You have heard that the average human body temperature is 98.6 degrees Fahrenheit.
# Does this data support this claim?
#I am told that the true the average human body temperature is 
#98.6 degrees Fahrenheit;however, we do not believe this is the case. 
#We want to test the notion that the true body Temperature should be 
# centered at a value lower than 98.6 degrees. The average body Temperature 
#of our dataset is 98.25 degrees. Is this significantly different for
#us to change our belief? To decide, I use a One-Sample T-Test:

In [7]:
# one sample t test
from scipy import stats
stats.ttest_1samp(Body_temp,98.6)

Ttest_1sampResult(statistic=-5.454823292364077, pvalue=2.410632041561008e-07)

In [8]:
# since pvalue<0.05, we are 95% confident the mean of body temp is different from 98.6 degree

In [9]:
#Is there a significant difference in body temperature between males and females?
#To decide, I conduct a two sample t-test or anova test:

In [10]:
# two sample t test
from scipy import stats
Temp_female=Temp['Body.Temp'][Temp['Gender']=='Female']
Temp_male=Temp['Body.Temp'][Temp['Gender']=='Male']
stats.ttest_ind(Temp_female, Temp_male, equal_var=False)

Ttest_indResult(statistic=2.2854345381654984, pvalue=0.023938264182940983)

In [11]:
# p<0.05, we are 95% confident the means of female's and male's body temp are different

In [12]:
# one way ANOVA
import scipy.stats as stats
stats.f_oneway(Temp_female,Temp_male)

F_onewayResult(statistic=5.223211028240273, pvalue=0.02393188312239509)

In [13]:
# p<0.05, we are 95% confident the means of female's and male's body temp are different

In [14]:
# I am told that the variances of male heart rate and female heart rate are different. To determine, I conduct
# an F-test:

In [15]:
# f test
HR_female=Temp['Heart.Rate'][Temp['Gender']=='Female']
HR_male=Temp['Heart.Rate'][Temp['Gender']=='Male']
import numpy as np
F = np.var(HR_female) / np.var(HR_male) # f ratio
df1 = len(HR_female) - 1 # degree of freedom
df2 = len(HR_male) - 1
from scipy import stats
alpha = 0.05 
p_value = 1-stats.f.cdf(F, df1, df2)
if p_value < alpha:
    print(p_value)
    print ('Reject the null hypothesis that the varaince of female and male heart rate are same')
    print ('we are 95% confident the variances of male heart rate and female heart rate are different')

0.0055015316718004525
Reject the null hypothesis that the varaince of female and male heart rate are same
we are 95% confident the variances of male heart rate and female heart rate are different

In [16]:
# chi-square test of independence
dic={'color':['red','green', 'green', 'blue','red', 'green','blue'],
     'size':['big', 'small', 'small', 'small', 'medium', 'big', 'medium']}
df=pd.DataFrame(dic, columns=['color', 'size'])
df

   color    size
0    red     big
1  green   small
2  green   small
3   blue   small
4    red  medium
5  green     big
6   blue  medium

In [17]:
# change categorical features to numeric features
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(df['color'])
df['color_num']=le.transform(df['color'])
df

   color    size  color_num
0    red     big          2
1  green   small          1
2  green   small          1
3   blue   small          0
4    red  medium          2
5  green     big          1
6   blue  medium          0

In [18]:
le.fit(df['size'])
df['size_num']=le.transform(df['size'])
df

   color    size  color_num  size_num
0    red     big          2         0
1  green   small          1         2
2  green   small          1         2
3   blue   small          0         2
4    red  medium          2         1
5  green     big          1         0
6   blue  medium          0         1

In [19]:
stats.chi2_contingency(df[['color_num','size_num']])

(6.9642857142857135, 0.32416267949331207, 6, array([[0.93333333, 1.06666667],
        [1.4       , 1.6       ],
        [1.4       , 1.6       ],
        [0.93333333, 1.06666667],
        [1.4       , 1.6       ],
        [0.46666667, 0.53333333],
        [0.46666667, 0.53333333]]))

In [20]:
# p>0.05, we are 95% confident color is independent of size

In [21]:
# if two variables' correlation is 0, that does not mean they are independent.
# if two variables are independent, that means their correlation is 0
# https://en.wikipedia.org/wiki/Correlation_and_dependence